.side-bar
  .header
    %h2.header__user-name
      = current_user.name
    %ul.edit-list
      %li.edit-list__edit
        = link_to edit_user_path(current_user), class: "link-basic" do
          = fa_icon("gear")
      %li.edit-list__new
        = link_to new_group_path(current_user), class: "link-basic" do
          = fa_icon("edit")
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          %h3.group__group-name
            = group.name
          %p.group__group-log
            = group.show_last_message
