!!!
%html{ lang: "ja" }
  %head
    %meta{ charset: "utf-8" }
    = stylesheet_link_tag "application"
  %body
  .wrapper
    = render partial: "messages/sidebar"
    .main
      .header
        .group-info
          %h2.group-info__group-name{group_id: @group.id}= @group.name
          %ul.members
            %li.members__member Member：
            - @group.users.each do |user|
              %li.members__member=user.name
        .edit-btn
          %p.edit-btn__btn-text
          = link_to "Edit", "/groups/#{params[:group_id]}/edit", class: "edit-btn__btn-text--link"
      .chat
        = render @messages
      .form
        = form_for [@group, @message] do |f|
          .input-box
            = f.text_field :content, class: "input-box__text", placeholder: "type a message"
            = f.label :image, class: "input-box__image" do
              = fa_icon("image")
              = f.file_field :image, class: "input-box__file-send"
          = f.submit "Send", class: "form__send-btn"
          